@import "settings";

@import "foundation";

main {
  margin-top: 40px;
  position: relative;
}

.swag-map {
  position: relative;
  min-height: 500px;
  min-width: 500px;

  .swag-line {
    stroke: #585EB5;
    fill: transparent;
    stroke-width: 2;
  }
}

.modify-swagmap {
  position: fixed;
  right: 0;
  top: 0;
  margin: 40px;
}
.swag-map-item {

  circle {
    fill: #585EB5;
    transition: r 0.3s;

    cursor: pointer;

    &:hover {
      r: 30
    }
  }

  &.completed circle {
    fill: darken(#585EB5, 30);
  }
}