@import "settings";

@import "foundation";

* {
  transition: all 0.4s;
}

main {
  margin-top: 40px;
  position: relative;
}

.swag-map {
  //position: relative;
  min-height: 500px;
  min-width: 500px;

  .link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }

  #licensing {
    fill: green;
  }

  .link.licensing {
    stroke: green;
  }

  .link.resolved {
    stroke-dasharray: 0,2 1;
  }

  circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
  }

  text {
    font: 10px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  }

  .swagifact-meta {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 100;

    width: 300px;
    border: 4px #585EB5 solid;
    border-radius: 8px;
    background-color: #fff;
    padding: 10px;
    font-size: 0.9em;

    &::before {
      content: "";
      width: 0;
      border-width: 10px 10px 10px 0;
      border-color: transparent #585EB5 transparent transparent;
      border-style: solid;
      position: absolute;
      left: 0;
      top: 0;
      margin: 17px 0 0px -13px;

    }
    >ul {
      list-style-type: none;
    }

    .provides, .requires {
      color: #ba4733;
      .completed {
        color: #68b558;
      }
    }

  }
}

.swagifact {

  &.available circle {
    background-color: #585EB5;
  }

  &.completed circle {
    background-color: #68b558;
  }
}

.modify-swagmap, .overview {
  position: fixed;
  top: 0;
  margin: 40px;
}

.modify-swagmap {
  right: 0;
}

.overview {
  left: 0;
}
