<nav class="navbar navbar-light bg-faded" role="navigation">
  {{#link-to 'index' class='navbar-brand'}}Swag Map Viewer{{/link-to}}
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Quick Switch
      </button>
      <div class="dropdown-menu">
        {{#each swagmaps as |swagmap|}}
          {{#link-to 'swagmap' swagmap class="dropdown-item"}}{{swagmap.name}}{{/link-to}}
        {{/each}}
      </div>
    </div>
  <form class="form-inline navbar-form pull-right">
   {{input value=currentUser.email class="form-control" placeholder="LRS Email"}}
   <button class="btn btn-success-outline" type="submit" {{action 'saveEmail'}}>Save</button>
 </form>
</nav>

<main class="container-fluid">
  <div class="row">
    {{outlet}}
  </div>
</main>
