<div class="col-md-12">
  <h1>Select A Swag Map</h1>
  <div class="list-group">
  {{#each model as |swagmap|}}
    {{#link-to 'swagmap' swagmap class="list-group-item"}}{{swagmap.name}}{{/link-to}}
  {{/each}}
</div>
</div>
